uvicorn
gunicorn
fastapi
fastapi-pagination
pytest
pytest-asyncio
SQLalchemy
marshmallow-sqlalchemy
psycopg2-binary
alembic
python-jose
passlib
bcrypt
python-dotenv
colorama
cloudinary
python-multipart
redis[hiredis]
elasticsearch==8.15.0
openai
stripe
email-validator
app
